#port_title{
    font-size: 45px;
    color: #e6b89c;
    text-shadow: -1px 0 darkgreen, 0 1px darkgreen, 1px 0 darkgreen, 0 -1px darkgreen;
    padding: 50px;
    text-align: center;
}

#pingpong{
    width: 1300px;
    height: 500px;
}

.project_title{
    font-size: 40px;
}

.project_description{
    font-size: 25px;
}

#totmfapp{
    width: 1300px;
    height: 500px;
}

.snkrs-app-pics{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#snkrspic1, #snkrspic2, #snkrspic3{
    width: 1300px;
    height: 500px;
    margin-bottom: 25px;
}

#storepic1, #storepic2 {
    width: 1300px;
    height: 500px;
    margin-bottom: 25px;
}
/* Portfolio */

@media screen and (max-width: 775px){
    #pingpong{
        width: 350px; 
        height: 10rem;
    }

    #totmfapp{
        width: 350px;
        height: 10rem;
    }
}
